<html>
    <body>
<footer class="text-center text-lg-start text-dark" style="background-color: #d1d1d1">
    
    <section class="d-flex justify-content-between p-4 text-white"></section>

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Company name</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                    <p>
                        Techzon è una piattaforma specializzata nel settore 
                        della compravendita online. Il portale è  parte integrante
                        di un progetto del corso di laurea in Intelligenza artificiale
                        del Dipartimento di Matematica dell'Università della Calabria.
                    </p>
                </div>
            
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">PrimeNG</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                    <p><a href="https://www.primefaces.org/primeng/" class="text-dark">PrimeNG</a></p>
                    <p><a href="https://angular.io/" class="text-dark">Angular</a></p>
                    <p><a href="https://www.java.com/it/" class="text-dark">Java</a></p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Link Utili</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p><a href="https://www.unical.it/portale/" class="text-dark">Università della Calabria</a></p>
                    <p><a href="https://informatica.unical.it/" class="text-dark">Corso di laurea in Informatica</a></p>
                    <p><a href="https://www.mat.unical.it/demacs" class="text-dark">Dipartimento di Matematica e Informatica</a></p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold">Contatti</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
                    <p><i class="fas fa-home mr-3"></i> Dipartimento di Matematica e Informatica</p>
                    <p><i class="fas fa-envelope mr-3"></i> Ponte Pietro Bucci, 87036 Quattromiglia CS</p>
                    <p><i class="fas fa-phone mr-3"></i> 0984 496402</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark"> Rotondaro Giovanni, Locanto Santo, Ragona Davide, Boca Paolo, Miauca Bogdan, Iorio Massimo</a>
    </div>

</footer>
</body>
</html>

