html{
    min-width: 1100px !important;
    width: 100% !important;
    padding: 0% !important;
    margin: 0% !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    width: 100% !important;
    height: 950px;
    padding: 0% !important;
    margin: 0% !important;
}

#ricerca{
    margin: 0%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#ultimaImmagineLatoSinistro{
    margin-left: 1.5% !important;
}
  
#divImmaginiLatoSinistro{
    width: 10%;
    height: 800px;
}
  
#divImmaginiLatoDestro{
    width: 10%;
    height: 800px;
}
  
#divParteCentrale{
    width: 80%;
    height: 1300px;
    background-color: rgb(231, 231, 230);
}