<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Techzon</title>
  </head>

  <body>
    <div class="row" id="reg">
        <div id="divImgParteSinistra">
          <a href="https://ibb.co/vBRjLxC">
            <img src="https://i.ibb.co/xsd7zSK/tech-icon-png-3-2.png" alt="tech-icon-png-3-2" border="0" width="100%" height="20%">
          </a>
          <a href="https://ibb.co/NLZv56Y">
            <img src="https://i.ibb.co/vJZFpxz/stripes2.png" alt="stripes2" border="0" width="100%" height="5%">
          </a>
          <a href="https://ibb.co/TRk1xRQ">
            <img src="https://i.ibb.co/pZxQBZH/picture.png" alt="picture" border="0" width="100%" height="20%">
          </a>
          <a href="https://ibb.co/NLZv56Y">
            <img src="https://i.ibb.co/vJZFpxz/stripes2.png" alt="stripes2" border="0" width="100%" height="5%">
          </a>
          <a href="https://ibb.co/NLZv56Y">
            <img src="https://i.ibb.co/vJZFpxz/stripes2.png" alt="stripes2" border="0" width="100%" height="5%">
          </a>
          <a href="https://ibb.co/G9Nxky0">
            <img src="https://i.ibb.co/m0gDtkG/world2.png" alt="world2" border="0" width="100%" height="20%">
          </a>
          <a href="https://ibb.co/NLZv56Y">
            <img src="https://i.ibb.co/vJZFpxz/stripes2.png" alt="stripes2" border="0" width="100%" height="5%">
          </a>
          <a href="https://ibb.co/NLZv56Y">
            <img src="https://i.ibb.co/vJZFpxz/stripes2.png" alt="stripes2" border="0" width="100%" height="5%">
          </a>
          <a href="https://ibb.co/hWJnn5Y">
            <img src="https://i.ibb.co/wWFbbHc/Daco-222378.png" alt="Daco-222378" border="0" width="100%" height="15%">
          </a>
          <a href="https://ibb.co/NLZv56Y">
            <img src="https://i.ibb.co/vJZFpxz/stripes2.png" alt="stripes2" border="0" width="100%" height="5%">
          </a>
          <a href="https://ibb.co/NLZv56Y">
            <img src="https://i.ibb.co/vJZFpxz/stripes2.png" alt="stripes2" border="0" width="100%" height="5%">
          </a>
          <a href="https://ibb.co/FH4KzZk">
            <img src="https://i.ibb.co/TWMktjD/picture-PIC.png" alt="picture-PIC" border="0" width="100%" height="23%">
          </a>
          <a href="https://ibb.co/NLZv56Y">
            <img src="https://i.ibb.co/vJZFpxz/stripes2.png" alt="stripes2" border="0" width="100%" height="5%">
          </a>
          <a id="ultimaImgLatoSinistro" href="https://ibb.co/DCgmgkH">
            <img src="https://i.ibb.co/2tYRYP1/tech-icon-png-3-1.png" alt="tech-icon-png-3-1" border="0" width="100%" height="20%">
          </a>
        </div>

        <div id="divParteCentrale">
          <div id="container">
            <br>
            <div class="row justify-content-center" id="rigaLogo">
              <img src=" https://i.ibb.co/TL2nDQY/tecno-Zone-logo.png" alt="tech-icon-png-3-2" border="0"  id="logoImg">
            </div>
            <br>
            <div class="row justify-content-center">
              <p-card header="Recupera le credenziali di accesso"  [style]="{width: '450px'}" styleClass="p-card-shadow">
                <div class="row justify-content-center">
                  <strong>Inserisci la tua email</strong>
                </div>
                <div class="row justify-content-center">
                  <input type="text" id="campoEmail" [(ngModel)]="emailInserita"> 
                </div>            
                <br>
                <div class="row justify-content-center" id="rigaBottone">
                  <button pButton pRipple type="button" label="Prosegui" [style]="{width: '30%',height: '35px'}" class="p-button-success" (click)="controllaCodice()"></button>
                  </div>
                <div class="row justify-content-center">
                  <p id="condizioni">
                    <small>
                      Accedendo al tuo account dichiari di aver letto 
                      e accetti le nostre Condizioni generali di uso 
                      e vendita. 
                    </small>
                  </p>
                </div>
              </p-card>
            </div>
            <br>
          </div>
        </div>

      <div id="divImgParteDestra">
          <a href="https://ibb.co/GHFGY78">
            <img src="https://i.ibb.co/vXDfy1T/handphone2.png" alt="handphone2" border="0" width="100%" height="65%">
          </a>
          <a href="https://ibb.co/2NfqMyG">
            <img src="https://i.ibb.co/NSHxNsc/pngwing-com.png" alt="pngwing-com" border="0" width="100%" height="20%">
          </a>
          <a href="https://ibb.co/68V6TV1">
            <img src="https://i.ibb.co/QkzsTzC/buildings.png" alt="buildings" border="0" width="100%" height="65%">
          </a>
        </div>
      </div>
      <p-dialog [(visible)]="campoEmailMancante" header="Recupero credenziali" [modal]="true" [style]="{width: '30vw'}" [draggable]="false" [resizable]="false">
        <p><strong>{{stringa}}</strong></p>
          <ng-template pTemplate="footer">
            <p-button (click)="campoEmailMancante=false" label="Ok" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-dialog>
  </body>
</html>