html{
  min-width: 950px !important;
  width: 100% !important;
  padding: 0% !important;
  margin: 0% !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

body{
  width: 100% !important;
  height: 950px;
  padding: 0% !important;
  margin: 0% !important;
}

#rigaLogo{
  width: 100%;
  height: 100px;
}

#logoImg{
  width: 260px;
  height: 100px;
}

#ultimaImgLatoSinistro{
  margin-left: 1.5% !important;
}
  
#divImgParteSinistra{
  width: 10%;
  height: 800px;
}
  
#divParteCentrale{
  width: 80%;
  height: 950px;
  background-color: gainsboro;
}
  
#divImgParteDestra{
  width: 10%;
  height: 800px;
}

#condizioni{
  padding: 20px;
}

#campoEmail{
  width: 65%;
  text-align: center;
}
