html{
  min-width: 950px !important;
  width: 100% !important;
  padding: 0% !important;
  margin: 0% !important;
  overflow-x: hidden;
  overflow-y: hidden;
}
  
body{
  width: 100% !important;
  height: 950px;
  padding: 0% !important;
  margin: 0% !important;
}

#imgSottoSinistra{
  margin-left: 1.5% !important;
}

#divImgSinistra{
  width: 10%;
  height: 800px;
}

#parteCentrale{
  width: 80%;
  height: 950px;
  background-color: gainsboro;
}

#divImgDestra{
  width: 10%;
  height: 800px;
}

#condizioni{
    padding: 20px;
}

#centraPasswordRecuperata{
  text-align: center;
}

#rigaInModale{
  margin: 0%;
}

#sinistraModale{
  height: 70px;
  width: 70%;
}

#destraModale{
  height: 70px;
  width: 30%;
}

#iconModale{
  color: red;
}

#campoCodice{
  width: 65%;
  text-align: center;
}

#rigaBarra{
    margin: 0;
}

#rigaLogo{
  width: 100%;
  height: 100px;
}

#logoImg{
  width: 260px;
  height: 100px;
}