html{
    min-width: 1100px !important;
    width: 100% !important;
    padding: 0% !important;
    margin: 0% !important;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 1100px;
    
}

body{
    width: 100% !important;
    padding: 0% !important;
    margin: 0% !important;
    
    height: 1100px;
}

#ricerca{
    margin: 0%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#divImmaginiLatoSinistro{
    width: 10%;
    height: 800px;
  }
  
  #divImmaginiLatoDestro{
    width: 10%;
    height: 800px;
  }
  
  #divParteCentrale{
    width: 80%;
    height: 1300px;
    background-color: gainsboro;
  }

  
#ultimaImmagineLatoSinistro{
    margin-left: 1.5% !important;
  }
  